# Default values for jdownloader2.

image:
  repository: weblate/weblate
  pullPolicy: IfNotPresent
  tag: 4.8-1

strategy:
  type: Recreate

service:
  main:
    ports:
      main:
        port: 80

# All values here are set as the docker defaults.
envTpl:
  # Permissions Settings
  USER_ID: "{{ .Values.env.PUID }}"
  GROUP_ID: "{{ .Values.env.PGID }}"

env:
  # Permissions Settings
  PUID: "568"
  PGID: "568"
  # WEBLATE
  WEBLATE_DEBUG: "1"
  WEBLATE_LOGLEVE: "=DEBUG"
  WEBLATE_SITE_TITLE: "Weblate"
  WEBLATE_ADMIN_NAME: "Weblate Admin"
  WEBLATE_ADMIN_EMAIL: "weblate@example.com"
  WEBLATE_ADMIN_PASSWORD: ""
  WEBLATE_SERVER_EMAIL: "weblate@example.com"
  WEBLATE_DEFAULT_FROM_EMAIL: "weblate@example.com"
  WEBLATE_ALLOWED_HOSTS: "*"
  WEBLATE_REGISTRATION_OPEN: "1"
  #POSTGRES
  POSTGRES_PASSWORD: "weblate"
  POSTGRES_USER: "weblate"
  POSTGRES_DATABASE: "weblate"
  POSTGRES_HOST: "database"
  POSTGRES_PORT: ""

persistence:
  config:
    enabled: true
    mountPath: "/app/data"
    type: pvc
    accessMode: ReadWriteOnce
    size: "10Gi"

postgresql:
  # postgresql.postgresqlUsername -- PostgreSQL user should be a superuser to
  # be able to install pg_trgm extension. Alternatively you can install it
  # manually prior starting Weblate.
  postgresqlUsername: "postgres"
  postgresqlPassword: "weblate"
  postgresqlDatabase: "weblate"
  service:
    port: 5432
  enabled: true
  # postgresql.postgresqlHost -- External postgres database endpoint, to be
  # used if `postgresql.enabled == false`
  # @default -- `None`
  postgresqlHost:

redis:
  password: "weblate"
  db: 1
  enabled: true
  # redis.redisHost -- External redis database endpoint, to be
  # used if `redis.enabled == false`
  # @default -- `None`
  redisHost:
  cluster:
    enabled: false